{% extends "base.html" %}

{% block title %}About - W.E.W.M.S{% endblock %}

{% block content %}
<div class="container"><br>
  <div class="jumbotron">
    <h1 class="display-4">About W.E.W.M.S</h1>
    <p class="lead">W.E.W.M.S (Wobbe's Electronics Warehouse Management System) is a web-based system designed to help manage electronic components in a warehouse setting.</p>
    <hr class="my-4">
    <p>With this system, users can add, edit, and delete components, as well as track their current stock levels and set notifications for when stock levels get low.</p>
    <p>W.E.W.M.S is designed to be user-friendly, with a simple and intuitive interface that makes it easy to manage your electronic components and keep your warehouse running smoothly.</p>
    <p>W.E.W.M.S is a MIT project and was created with the contribution of Said, Marco, Remco, and Lars.</p>
    <div class="text-center">
      <img src="/static/images/icon.png" alt="W.E.W.M.S Logo" width="200">
    </div>
    <p>For the source code, please visit our <a href="https://github.com/huizebruin/W.E.W.M.S" target="_blank" rel="noopener">GitHub repository</a>.</p>
    <p>For more information about our team and our other projects, please visit our website at <a href="https://www.huizebruin.nl" target="_blank" rel="noopener">huizebruin.nl</a>.</p>
  </div>
</div>
{% endblock %}
