
    {% extends 'base.html' %}

    {% block content %}
    <h5>Add new product to the list</h5>
    <form method="POST" action="/add">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="link">Link:</label>
        <input type="text" id="link" name="link">
        
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>
        
        <label for="info">Info:</label>
        <textarea id="info" name="info" ></textarea>
        
        <label for="documentation">Documentation:</label>
        <input type="text" id="documentation" name="documentation">
        
        <button type="submit">Add product</button>
    </form>
<br><br>
    {% endblock %}

