{% extends 'base.html' %}

{% block content %}
<h5>Add new product to the list</h5>
<div class="form-container">
    <form method="POST" action="/add">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        
        <label for="link">Link:</label>
        <input type="text" id="link" name="link">
        
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="category">Category:</label>
        <input type="text" class="form-control" id="category" name="category" >       
             
<label for="price">Price:</label>
<div class="input-group">
    <div class="input-group-append">
        <select class="form-control" name="currency">
            <option value="€">€</option>
            <option value="$">$</option>
            <option value="£">£</option>
        </select>
    </div>
    <input type="number" class="form-control" id="price" name="price" step="0.01">

</div>

        <label for="info">Info: *</label> 
        <input type="text" id="info" maxlength="15"  name="info" >
        
        <label for="documentation">Documentation:</label>
        <input type="text" id="documentation" name="documentation">

        <label for="more_info">More_info:</label>
        <textarea id="more_info" name="more_info" ></textarea>

    
        
        
        <button type="submit">Add product</button>
    </form>
</div>
<p>* 15 characters max</p>

<br><br>
{% endblock %}
