

{% block content %}

<h6>Changed Products</h6>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Last Update</th>
      </tr>
      {% for component in components %}
      <tr>
        <td>{{ component.name }}</td>
        <td>{{ component.link }}</td>
        <td>{{ component.quantity }}</td>
        <td>{{ component.location }}</td>
        {% if component.documentation is not none %}
    <td>{{ component.documentation }}</td>
    {% else %}
    <td></td>
    {% endif %}
      </tr>
      {% endfor %}
    </table>

{% endblock %}
