

{% block content %}

<h6>Changed Components</h6>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Quantity</th>
        <th>Location</th>
        <th>Last Update</th>
      </tr>
      {% for component in components %}
      <tr>
        <td>{{ component[1] }}</td>
        <td>{{ component[2] }}</td>
        <td>{{ component[3] }}</td>
        <td>{{ component[4] }}</td>
        {% if component[7] is not none %}
    <td>{{ component[7] }}</td>
    {% else %}
    <td></td>
    {% endif %}
      </tr>
      {% endfor %}
    </table>

{% endblock %}
