
{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="search-box">Search components:</label>
            <input type="text" class="form-control" id="search-box" placeholder="Enter component name">
        </div>
        <table id="myTable" class="table table-striped">
            <thead>
                <tr>
                    <th onclick="sortTable(0)" style="color:blue">Name</th>
                    <th>Link</th>
                    <th>Quantity</th>
                    <th>Info</th>
                    <th onclick="sortTable(1)" style="color:blue">Location</th>
                    <th>Documentation</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="component-table">
                {% for component in components %}
                <tr>
                    <td>{{ component[1] }}</td>
                    <td><a href="{{ component[2] }}" rel="noreferrer" target="_blank">Buy again</a></td>
                    {% if component[3] < 5 %}
                    <td style="color:red"><b>{{ component[3] }}</b></td>
                    {% else %}
                    <td><b>{{ component[3] }}</b></td>
                    {% endif %}
                    {% if component[5] is not none %}
                    <td>{{ component[5] }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><b>{{ component[4] }}</b></td>
                    <td><a href="{{ component[6] }}" rel="noreferrer" target="_blank">Documentation</a></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a href="{{ url_for('update_component', id=component[0]) }}" class="btn btn-primary btn-sm mr-1">Edit</a>
                            <a href="{{ url_for('delete_component', id=component[0]) }}" class="btn btn-danger btn-sm mr-1">Delete</a>
                            <a href="{{ url_for('add_quantity', id=component[0]) }}" class="btn btn-success btn-sm mr-1">+</a>
                            <a href="{{ url_for('remove_quantity', id=component[0]) }}" class="btn btn-warning btn-sm">-</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>




    {% endblock %}
