{% extends 'base.html' %}

{% block content %}

<h5>Low Stock products</h5><br>
"Hey there! It's time to restock your inventory!" <br>

<br>
{% if low_stock_components_1 %}
    <h6>Low Stock (1-5) products are running low order soon.</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for component in low_stock_components_1|sort(attribute='3') %}
            <tr>
                <td>{{ component[1] }}</td>
                <td><a href="{{ component[2] }}" rel="noreferrer" target="_blank"> Buy Again </a></td>
                {% if component[3] < 5 %}
                    <td style="color:red"><b>{{ component[3] }}</b></td>
                {% else %}
                    <td><b>{{ component[3] }}</b></td>
                {% endif %}
                <td>{{ component[4] }}</td>
                <td>{{ component[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if low_stock_components_2 %}
    <h6>Low Stock (6-10)</h6>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Link</th>
                <th>Quantity</th>
                <th>Location</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            {% for component in low_stock_components_2|sort(attribute='3') %}
            <tr>
                <td>{{ component[1] }}</td>
                <td><a href="{{ component[2] }}" rel="noreferrer" target="_blank"> Buy Again </a></td>
                {% if component[3] < 5 %}
                    <td style="color:red"><b>{{ component[3] }}</b></td>
                {% else %}
                    <td><b>{{ component[3] }}</b></td>
                {% endif %}
                <td>{{ component[4] }}</td>
                <td>{{ component[7] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
