
    {% extends 'base.html' %}

    {% block content %}
    <h5>Update Component</h5>
    <form method="POST" action="/update/{{ component[0] }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ component[1] }}" required>
        
        <label for="link">Link:</label>
        <input type="text" id="link" name="link" value="{{ component[2] }}">
        
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{ component[3] }}" required>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{ component[4] }}" required>
        
        <label for="info">Info:</label>
        <textarea id="info" name="info" required>{{ component[5] }}</textarea>
        
        <label for="documentation">Documentation:</label>
        <input type="text" id="documentation" name="documentation" value="{{ component[7] }}">
        
        <button type="submit">Update Component</button>
    </form>
    <br><br>
    {% endblock %}

